$container-xl: 1440px;
$container-l: 1140px;
$container-m: 960px;
$container-s: 540px;

@mixin responsive($device) {
    @if $device == xl {
        @media screen and (max-width: $container-xl) and (min-width: $container-m) {
            @content;
        }
    }
    @if $device == l {
        @media screen and (max-width: $container-xl) and (min-width: $container-l) {
            @content;
        }
    }
    @if $device == m {
        @media screen and (max-width: $container-l) and (min-width: $container-m) {
            @content;
        }
    }

    @if $device == s {
        @media screen and (max-width: $container-m) {
            @content;
        }
    }

    @if $device == xs {
        @media screen and (max-width: $container-s) {
            @content;
        }
    }
}

.none {
    display: none;
}

.border {
    border: 1px solid white;
}
