* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import "./sass/layout";
@import "./sass/color";
@import "./sass/typography";

body {
    height: 100vh;
    overflow-y: hidden;
    background-color: $dark-blue;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    @include responsive(s) {
        overflow-y: scroll;
    }
    .container {
        width: 100%;
    }

    #root {
        width: 100%;
        max-width: 1440px;
    }
}

@import "./sass/header";
@import "./sass/home";
@import "./sass/projects";
@import "./sass/footer";
